body {
  font-size: 36px;
  font-family: proxima-nova, sans-serif;
  background-color: #fff;
  color: #332;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  margin-top: 0;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.visible {
  opacity: 1;
  transition: opacity 2s;
}

#status-message {
  background-color: #ffffee;
  margin: 1em;
  padding: 1em;
}

button {
  text-transform: uppercase;
  color: #444;
  font-size: 0.8em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  font-family: futura;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
}

.step {
  display: flex;
  flex-direction: column;
  border: 2px solid #221;
  margin: 0.5em;
  width: 100%;
  min-width: 320px;
  max-width: 40em;
  padding: 1em;
  box-shadow: 4px 4px 0px 0px #221;
  border-radius: 4px;
}

.step svg,input {
  align-self: center;
}

.step input {
  font-size: 2em;
  width: 80%;
  min-width: 10em;
}

.instruction {
  font-style: italic;
  margin: 1em;
  text-align: center;
}

.instruction ol,ul {
  text-align: left;
}

svg text {
  font-size: 6px;
  fill: #333;
  stroke: none;
}

.variable {
  font-style: italic;
  font-weight: bold;
}

.key-point {
  text-align: center;
  background-color: #c0feb4;
  padding: 0.5em;
  border-radius: 0.5em;
}

.exhortation {
  font-weight: bold;
  font-size: 1.2em;
}

.important-term {
  font-weight: bold;
  font-size: 1.4em;
}

.step table {
  border-top: 0;
  width: 100%;
  /*! border-collapse: collapse; */
  margin-bottom: 1em;
  border-bottom: 0;
}

.step table thead {
  font-weight: bold;
}

.step h2 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.step ul {
  margin-top: 0;
}

.step ul ol {
  padding-top: 1em;
}

.step li {
  margin-bottom: 0.5em;
}

a:link, a:visited {
  color: #444;
  font-weight: 700;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}

